        .header{
            padding: 30px;
            background-color: #CCC;
            color: #FFF
        }
            .footer{
            padding: 20px;
            background-color: #CCC;
            color: #FFF
        }
